<div class="page">
    <div id="frm">
        <p>
            <label for="ID">Registro:</label>
        </p>
        <p>
            <input type="text" id="id" name="id"></p>
        <p>
            <label for="Nombre">Nombre:</label>
        </p>
        <p>
            <input type="text" id="nom" name="nombre"></p>
        <p>
            <p>
                <label for="Apellido">Apellido:</label>
            </p>
            <p>
                <input type="text" id="ape" name="apellido"></p>
            <p>
                <p>
                    <label for="Correo">Correo:</label>
                </p>
                <p>
                    <input type="text" id="corr" name="correo"></p>
                <p>
                    <p>
                        <label for="Nacimiento">Fecha de Nacimiento:</label>
                    </p>
                    <p>
                        <input type="text" id="fec" name="fechaDeNacimiento"></p>
                    <p>
                        <p>
                            <label for="Domicilio">Domicilio:</label>
                        </p>
                        <p>
                            <input type="text" id="dom" name="domicilio"></p>
                        <p>
                            <label for="Horario">Horario:</label>
                        </p>
                        <p>
                            <input type="text" id="hor" name="horario"></p>
                        <p>
                            <label for="tipo">Tipo de Usuario:</label>
                        </p>
                        <p>
                            <input type="text" id="tip" name="tipoDeUsuario"></p>
                        <p>
                            <p>
                                <label for="password">Contraseña:</label>
                            </p>
                            <p>
                                <input type="password" id="pass" name="pass"></p>
                            <p>
                                <input type="submit" value="Login">
                            </p>
    </div>
</div>