<div class="container">
    <div *ngFor='let prod of productos'>
        <mat-card class="example-card">
            <div class="contenido">
                <mat-card-content>
                    <h2><a>{{ "ID de pedido: " }}{{ prod.ID }}</a></h2>
                    <h2>{{ "Estado de pedido: " }}{{ prod.ESTADO }}</h2>
                    <h2>{{ "Fecha de Pedido: " }}{{ prod.FECHACREACION}}</h2>
                    <h2>{{ "Fecha de entrega: " }}{{ prod.FECHAENTREGA}}</h2>
                    <h2>{{ "Total: $" }}{{ prod.TOTAL}}</h2>
                </mat-card-content>
            </div>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>
    </div>
</div>