body {
    height: 100%;
}

#frm {
    margin-top: 60px;
    margin-left: 490px;
    background: rgba(76, 175, 80, 0.0);
    /* Green background with 30% opacity */
    background: white;
}

div {
    margin-top: 50px;
}

img {
    margin-left: 470px;
    margin-top: 30px;
}