<div class="container">
    <div *ngFor='let user of usuarios'>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title class="usuario">{{ "Actividad: " }}{{ user.Nombre}}</mat-card-title>
            </mat-card-header>
            <div class="contenido">
                <mat-card-content>
                    <h2>{{ "ID de Plan: " }}{{ user.Plan}}</h2>
                    <h2>{{ "Duracion de Actividad: " }}{{ user.Duracion }}</h2>
                    <h2>{{ "ID de Actividad: " }}{{ user.Id}}</h2>
                    <h2>{{ "Recurso: " }}{{ user.inv}}</h2>
                    <h2>{{ "Cantidad de Recursos utilizados: " }}{{ user.cantidad}}{{' '}}{{user.unidad}}</h2>
                    <h2>{{ "Orden de Actividad: " }}{{ user.orden}}</h2>
                </mat-card-content>
            </div>
            <mat-card-actions>
                <button mat-raised-button (click)="terminar(user.Id,user.cantidad,user.inv)">Terminar</button>
                <button mat-raised-button (click)="cancelar()">Cancelar</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>