<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar>Opciones</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item href="user/profile">Inicio</a>
            <a mat-list-item href="admin/register/slaves">Registrar Empleados</a>
            <a mat-list-item href="admin/register/menudo">Registrar Menudeo</a>
            <a mat-list-item href="admin/register/mayo">Registrar Mayoreo</a>
            <a mat-list-item href="ext/createmen">Registrarse Menudeo</a>
            <a mat-list-item href="ext/createmay">Registrarse Mayorero</a>
            <a mat-list-item href="ext/principal">Productos</a>
            <a mat-list-item href="911">Ayuda</a>
            <a mat-list-item>-.Administrador.-</a>
            <a mat-list-item href="admin/help">Ayuda</a>
            <a mat-list-item>-.Usuario Externo.-</a>
            <a mat-list-item href="ext/createmen">Registrarse</a>
            <a mat-list-item>-.Envio.-</a>
            <a mat-list-item href="envio/shippings">Envios Pendientes</a>
            <a mat-list-item>-.Caja.-</a>
            <a mat-list-item href="sales">Ventas</a>
            <a mat-list-item>-.Empleado.-</a>
            <a mat-list-item href="user/history">Historial</a>
            <a mat-list-item href="logout">Cerrar sesion</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon"><img class="logo" src="/assets/icons/menu.png" width="44" height="44" alt="logo" align="center"></mat-icon>
      </button>
            <div id="titulo">
                <span> <a href="">  Bakerio</a> </span></div>
        </mat-toolbar>
        <!-- Add Content Here -->
    </mat-sidenav-content>
</mat-sidenav-container>