<h1 mat-dialog-title>Nueva Compra</h1>
<div mat-dialog-content>
    <p>Selecciona la cantidad deseada del producto</p>
    <div id="theForm">
        <form #f="ngForm">
            <div class="form-group">
                <mat-form-field>
                    <input matInput placeholder="Cantidad" id="cantidad" type="number" min="1" name="cantidad" [(ngModel)]="art.prod" required #dataId="ngModel">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Fechas de entrega" id="fecha" type="date" name="fecha" min="{{this.dia}}" max="{{this.semana}}" [(ngModel)]="art.fecha" required #fechaID="ngModel">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Direccion" id="text" type="direccion" name="direccion" [(ngModel)]="art.dir" required #gaga="ngModel">
                </mat-form-field>
                <p class="alert" *ngIf="!dataId.valid && !fechaID.valid">El contenido es obligatorio</p>
            </div>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button (click)="purchase(data.precio,art.prod,data.producto)" [disabled]="!f.form.valid ">Comprar</button>
        <button mat-button mat-dialog-close>Cancelar</button>
    </div>