<html>

<body>
    <div id="frm">
        <form action="process.php" method="POST">
            <p>
                <label for="username">Username:</label>
                <input type="text" id="user" name="user">
            </p>
            <p>
                <label for="password">Password:</label>
                <input type="password" id="pass" name="pass">
            </p>
            <p>
                <input type="submit" value="Login">
            </p>
        </form>
    </div>
</body>

<div *ngFor='let prod of prods'>
    <h2>{{ prod.NOMBRE | uppercase }}</h2>
    <h2>{{ prod.CATEGORIA | uppercase }}</h2>
    <img [src]="prod.URL">
</div>

</html>