<div class="page">
    <div *ngFor='let prod of prods'>
        <img [src]="prod.URL"></div>
    <div id="dato">
        <p>
            <label for="dato">Inicio de Sesión</label>
        </p>
    </div>
    <div id="frm">
        <div id="efe">
            <p>
                <label for="username">Usuario:</label>
            </p>
        </div>
        <p>
            <input type="text" id="user" name="user" placeholder="Nombre de Usuario"></p>
        <p>
            <label for="password">Contraseña:</label>
        </p>
        <p>
            <input type="password" id="pass" name="pass" placeholder="Contraseña de Usuario"></p>
        <div class="boton">
            <button type="submit" class="boton btn-sm btn-boton">Ingresar</button>
        </div>
    </div>