@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Lobster&display=swap');
@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");
body {
    height: 100%;
}

nav-bar {
    border: none;
}

#dato {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size: 26px;
}

.boton {
    text-align: center;
    margin-bottom: 10px;
    margin-right: 4px;
}

.btn-boton,
.btn-boton:hover,
.btn-boton:active {
    background-color: #FF8A71;
    color: black;
    border-radius: 20%
}

#frm {
    margin-left: 200px;
    margin-right: 1850px;
    background: rgba(76, 175, 80, 0.0);
    /* Green background with 30% opacity */
    background: white;
    background: white;
    text-align: center;
    border: #E86145 4px solid;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 10px;
    font-family: 'Indie Flower ', cursive;
}

img {
    font-size: 26px;
}