<div class="container-fluid">
    <div id="dato">
        <img class="logo" src="/assets/images/Logo1.png" alt="logo" align="center">
        <div id="dato">
            <label for="dato">Inicio de Sesión</label>
        </div>
    </div>
</div>
<div id="frm">
    <form (submit)="loginUser($event)">
        <div id="usuario" class="container">
            <div id="efe">
                <p>
                    <label for="username">Usuario:</label>
                </p>
            </div>
            <p>
                <input type="text" id="username" name="user" placeholder="Usuario" maxlength="25" size="6">
            </p>
            <p>
                <label for="password">Contraseña:</label>
            </p>
            <div id="contra">
                <input type="password" id="password" name="pass" placeholder="Contraseña" maxlength="25" size="6"></div>
        </div>
        <button type="submit" class="boton btn-sm btn-boton">Ingresar</button>
    </form>
</div>