<div class="container">
    <div *ngFor='let user of usuarios'>
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar><img [src]="user.FOTO"></div>
                <mat-card-title class="usuario">{{ "USUARIO: " }}{{ user.NOMBRE}}</mat-card-title>
            </mat-card-header>
            <div class="contenido">
                <mat-card-content>
                    <h2>{{ "ID: " }}{{ user.ID }}</h2>
                    <h2>{{ "TURNO: " }}{{ user.TURNO}}</h2>
                    <h2>{{ "ENTRADA: " }}{{ user.ENTRADA}}</h2>
                    <h2>{{ "SALIDA: " }}{{ user.SALIDA}}</h2>
                    <h2>{{ "LLEGADA: " }}{{ user.LLEGADA}}</h2>
                    <h2>{{ "SALIDA: " }}{{ user.ABANDONADA}}</h2>
                    <h2>{{ "FECHA: " }}{{ user.FECHA}}</h2>
                </mat-card-content>
            </div>
            <mat-card-actions>
                <button mat-button class="mat-button"><a class="nav-link" routerLink="/uav/history"><span>HISTORIAL</span></a></button>
                <button mat-button class="mat-button"><a class="nav-link" routerLink="/uv"><span>PLAN LABORAL </span></a></button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>