<div class="container">
    <div class="page">
        <div>
            <h1>Administración de Plantillas</h1>
            <table border="1" *ngIf="hayRegistros(); else sinarticulos">
                <tr>
                    <td>ID</td>
                    <td>Nombre</td>
                    <td>Tipo usuario</td>
                    <td>Asignacion</td>
                    <td>Estado</td>
                    <td>Borrar</td>
                    <td>Cancelar</td>
                    <td>Selector</td>
                    <td>Administrar</td>
                </tr>
                <tr *ngFor="let art of articulos">
                    <td>{{art.ID}}</td>
                    <td>{{art.Nombre}}</td>
                    <td>{{art.Cuenta}}</td>
                    <td>{{art.Asignacion}}</td>
                    <td>{{art.Estado}}</td>
                    <td><button mat-raised-button (click)="baja(art.ID)">Eliminar</button></td>
                    <td><button mat-raised-button (click)="cancelar(art.ID)">Cancelar Plan</button></td>
                    <td><button mat-raised-button (click)="seleccionar(art.ID)">Seleccionar</button></td>
                    <td><button mat-raised-button (click)="tarea(art.ID)">Administrar</button></td>
                </tr>
            </table>
            <ng-template #sinarticulos>
                <p>No hay articulos.</p>
            </ng-template>
            <div>
                <div id="theForm">
                    <form #f="ngForm">
                        <div class="form-group">
                            <h1>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Asignación </mat-label>
                                    <select matNativeControl id="asignacion" name="asignacion" [(ngModel)]="art.asignacion" #userId="ngModel" #trackId="ngModel" required>
                                            <option value="Diario">Diario</option>
                                            <option value="Unico">Solo Hoy</option>
                                        </select>
                                </mat-form-field>
                                <p class="alert" *ngIf="!trackId.valid && trackId.touched || !trackId.touched">La asignación es de a gusa</p>
                            </h1>
                            <h1>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Nombre </mat-label>
                                    <input matInput placeholder="Nombre" id="nombre" name="nombre" [(ngModel)]="art.nombre" required #trackName="ngModel">
                                </mat-form-field>
                                <p class="alert" *ngIf="!trackName.valid && trackName.touched || !trackName.touched">El nombre es de a gusa</p>
                            </h1>
                            <h1>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Tipo de Usuario </mat-label>
                                    <select matNativeControl id="tipo" name="tipo" [(ngModel)]="art.tipo" #trackapex="ngModel" required>
                                        <option value="1">Producción</option>
                                        <option value="2">Preparados</option>
                                        <option value="3">Envíos</option>
                                        <option value="0">Administrador</option>
                                    </select>
                                </mat-form-field>
                                <p class="alert" *ngIf="!trackapex.valid && trackapex.touched || !trackapex.touched">El Tipo es de a gusa</p>
                            </h1>
                            <h1>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Estado </mat-label>
                                    <select matNativeControl id="estado" name="estado" [(ngModel)]="art.estado" #tracknivel="ngModel" required>
                                        <option value="Desactivo">Desactivo</option>
                                        <option value="Sin Asignar">Sin Asignar</option>
                                    </select>
                                </mat-form-field>
                                <p class="alert" *ngIf="!tracknivel.valid && tracknivel.touched || !tracknivel.touched">El estado es de a gusa</p>
                            </h1>Campos llenados correctamente: {{f.valid}}
                            <button mat-raised-button (click)="alta()" [disabled]="!f.form.valid">Registrar</button>
                        </div>
                    </form>
                </div>
                <p>
                    <button mat-raised-button (click)="modificacion()" [disabled]="!f.form.valid">Modificar</button></p>
            </div>
        </div>

    </div>
</div>