<html>
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<div *ngFor='let user of users'>
    <h2>{{ "ID: " }}{{ user.ID }}</h2>
    <h2>{{ "PRODUCTO: " }}{{ user.NOMBRE | uppercase }}</h2>
    <h2>{{ "EXTRA INFO: " }}{{ user.EXTRA | uppercase }}</h2>
    <h2>{{ "PRECIO " }}{{ "$" }}{{ user.PRECIO }}</h2>
    <h2>{{ "CATEGORIA: " }}{{ user.TIPO | uppercase }}</h2>
    <h2>{{ "CADUCIDAD: " }}{{ user.CADUCIDAD | uppercase }}</h2>
    <h2>{{ "EXISTENCIAS: " }}{{ user.EXISTENCIAS }}</h2>
    <h2>{{ "MINIMO DEL PRODUCTO: " }}{{ user.MINIMO }}</h2>
    <h2>{{ "UNIDAD: " }}{{ user.UNIDAD | uppercase }}</h2>
</div>

</html>