/*font-family: 'Pacifico', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Cabin', sans-serif;
font-family: 'VT323', monospace;
font-family: 'Shadows Into Light', cursive;*/

.example-card {
    margin-top: 10%;
    margin-left: 10%;
    background-image: url("/assets/images/card.jpg");
}

background-image {
    opacity: 50%;
}

img {
    border-radius: 50%;
    height: 100%;
    margin-left: 2%;
    width: 110%;
    opacity: 50%;
}

.mat-button {
    display: inline-block;
    border-radius: 4px;
    background-color: none;
    border: none;
    color: black;
    text-align: center;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    padding: 20px;
    font-weight: bolder;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.mat-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.mat-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    font-size: 20;
    font-weight: 150;
    transition: 0.5s;
}

.mat-button:hover span {
    padding-right: 25px;
}

.mat-button:hover span:after {
    opacity: 1;
    right: 0;
}

a {
    color: inherit;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    margin-top: 3%;
    color: black;
    font-weight: bolder;
    font-size: 18px;
}

.usuario {
    font-family: 'Cinzel', serif;
    color: black;
    font-size: 18px;
    font-weight: bolder;
}