<h1 mat-dialog-title>Nuevo Apartado</h1>
<div mat-dialog-content>
    <p>Selecciona la cantidad deseada del producto</p>
    <div id="theForm">
        <form #f="ngForm">
            <div class="form-group">
                <mat-form-field>
                    <input matInput placeholder="{{data.prec}}" id="cantidad" type="number" name="cantidad" [(ngModel)]="art.prod" required #dataId="ngModel">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="{{data.prec}}" id="fecha" type="date" name="fecha" min="2019-11-14" max="2019-11-15" [(ngModel)]="art.fecha" required #fechaID="ngModel">
                </mat-form-field>
                <p class="alert" *ngIf="!dataId.valid && !fechaID.valid">El contenido es de a gusa</p>
            </div>
            {{data.prec}}
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button (click)="alta(data.prec,art.prod)" [disabled]="!f.form.valid ">Apartar</button>
        <button mat-button mat-dialog-close>Cancelar</button>
    </div>