<div class="container">
    <div *ngFor='let user of usuarios'>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title class="usuario">{{ "Notificacion: " }}{{ user.ID}}</mat-card-title>
            </mat-card-header>
            <div class="contenido">
                <mat-card-content>
                    <h2>{{ "Contenido: " }}{{ user.CONTENIDO}}</h2>
                    <h2>{{ "Usuario: " }}{{ user.USUARIO }}</h2>
                    <h2>{{ "Fecha: " }}{{ user.FECHA}}</h2>
                    <h2>{{ "Producto: " }}{{ user.PRODUCTO}}</h2>
                    <h2>{{ "Actividad: " }}{{ user.ACTIVIDAD}}</h2>
                </mat-card-content>
            </div>
        </mat-card>
    </div>
</div>