/* You can add global styles to this file, and also import other style files */

body,
html {
    height: 100%;
    background: rgba(240, 161, 127, 1);
    background: -moz-linear-gradient(left, rgba(240, 161, 127, 1) 0%, rgba(240, 161, 127, 1) 0%, rgba(245, 245, 245, 1) 99%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(240, 161, 127, 1)), color-stop(0%, rgba(240, 161, 127, 1)), color-stop(99%, rgba(245, 245, 245, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(left, rgba(240, 161, 127, 1) 0%, rgba(240, 161, 127, 1) 0%, rgba(245, 245, 245, 1) 99%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(left, rgba(240, 161, 127, 1) 0%, rgba(240, 161, 127, 1) 0%, rgba(245, 245, 245, 1) 99%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(left, rgba(240, 161, 127, 1) 0%, rgba(240, 161, 127, 1) 0%, rgba(245, 245, 245, 1) 99%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to right, rgba(240, 161, 127, 1) 0%, rgba(240, 161, 127, 1) 0%, rgba(245, 245, 245, 1) 99%, rgba(255, 255, 255, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f0a17f', endColorstr='#ffffff', GradientType=1);
}

#books {
    border-radius: 0.25rem;
    background: #f9f9f9 !important;
}

section {
    padding: 20px 0;
}

#books .card {
    border: none;
    background: #fff;
}

.card_book .card {
    min-height: 312px;
}

p.card-text,
h4.card-title {
    min-height: 96px !important;
}

.card-title {
    color: #007bff;
    cursor: pointer;
}

.card_book .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

div.container-precio-idioma {
    display: flex;
    justify-content: space-between;
}